@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;		
}
.contener{
	display: flex;
	overflow: hidden;
}
.logo{
	width: 9vw;
}
.flex-in-blue{
	display: flex;
	justify-content: space-between;
	padding: 0.4vw 1.5vw 0 1.5vw;	
}
.flex-in-blue .crime{
	font-size: 1.4vw;
	font-weight: 600;
	color: #fdfdfd;
	margin-top: 2.1vw;
}
.kiri{
	background-image: linear-gradient(to bottom right, #5887a5, #242d51);
	width: 50vw;
}
.polisi{
	display: flex;
	justify-content: center;
}
.polisi .police{
	width: 10vw;
	margin-top: 5vw;
	z-index: 2;
}
.motif{
	position: absolute;
	width: 30vw;
	margin-top: 3vw;
	z-index: 1;
}
.moto{
	margin: 10vw 0;
	color: #fdfdfd;
	font-size: 2vw;
	font-weight: 500;
	text-align: left;
	padding-left: 2vw;
}
.sambutan{
	text-align: center;
}
.sambutan .welcome{
	margin-top: 5vw;
	font-size: 2vw;
	font-weight: 600;
}
.sambutan .text-kecil{
	font-size: 0.9vw;
	font-weight: 500;
	margin-top: -1.5vw;
}
.form-absolute{
	margin-top: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
}
.email label, .pw label{
	font-size: 1vw;
	font-weight: 500;
	display: block;
	margin-bottom: 1vw;
}
.pw{
	margin-top: 1.5vw;
}
.email input[type="text"], .pw input[type="password"], .email select{
	width: 25vw;
	height: 3.3vw;
	padding:1rem;
	border-radius: 1rem;
	border: 2px solid #d3d3d3;
	background-color: #d3d3d3;
}
.pesan-logout{
	text-align: center;
}
.form-absolute .btn{
	margin: 10vw 0;
	border-radius: 3vw;
	width: 20vw;
	height: 5vw;
	text-transform: uppercase;
	background-color: #5887a5;
}
.kanan{
	display: flex;
	flex-direction: column;
	width: 50vw;
}
.motif-om{
	width: 50vw;
	position: absolute;
	z-index: -1;
}

/* ================ Regis ================ */
.email textarea{
	width: 30vw;
	height: 15vw;
	padding:10px;
	border-radius: 4vw;
	border: 2px solid #d3d3d3;
	background-color: #d3d3d3;
}

/* ================ Header ================ */
.lambang {
	width: 14vw;
}
.navbar-nav .nav-link {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.2vw;
	color: #030303;
}
.nav-item .btn {
	background-color: #030303;
	color: #fdfdfd;
	border-radius: 20px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	display: block;
}
.nav-item .btn:hover {
	background-color: #fdfdfd;
	transition: 700ms;
	color: #030303;
	border-radius: 20px;
	display: block;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav-link:hover::after {
	content: "";
	display: block;
	border-bottom: 3px solid #5887a5;
	padding-bottom: 7px;
	margin-bottom: -10px;
}
.nav-item-right{
	margin-right: 3vw;
}

/* ============== Main Home =================== */
.jumbotron {
	background-color: #fdfdfd;
}
.jumbotron .display-4 {
	font-size: 3.5vw;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 3.5vw;
}
.jumbotron .lead {
	margin-top: 4vw;
	font-size: 1.4vw;
	font-weight: 500;
	line-height: 2.2;
}
.btn-dark {
	margin-top: 4vw;
	background-color: #030303;
	border-radius: 10px;
	width: 15vw;
	padding: 1vw 0;
	font-size: 1.5vw;
	font-weight: 500;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.jumbotron2 {
	background-color: #5887a5;
}
.flex{
	display: flex;
	flex-direction:row-reverse;
	justify-content: space-around;
	align-items: center;
}
.container .kapolri{
	width: 25vw;
	border-radius: 10px;
}
.container .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}	
/* =============== Footer =============== */
li{
	list-style: none;
}
.lambang-footer{
	width: 20vw;
}
.footer-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-about .about, .flex-social .social{
	font-size: 2vw;
	font-weight: 600;
}
.flex-about .fa-2x, .flex-social .fa-2x{
	font-size: 1.5vw;
}
.flex-about .fa-circle, .flex-social .fa-circle, .footer-flex a{
	color: #030303;
}
.flex-ul li{
	margin-top: 1.5vw;
}
.cr p{
	font-size: 1.2vw;
	text-align: center;
	margin: 2vw 0;
}

/* =========== Footer Blue ============ */
.footer-blue{
	background-color: #5887a5;
	padding: 1vw 0;
}

/* ============= Lapor ================= */
.title-lapor h1{
	text-transform:capitalize;
	font-size: 3.5vw;
	font-weight: 600;
	text-align: center;
	margin-top: 8vw;
}
.title-lapor p {
	font-size: 1.3vw;
	text-align: center;
	font-weight: 500;
	text-transform: capitalize;
	margin-top: 1vw;
}
.data-pelapor{
	font-weight: 600;
	text-transform: capitalize;	
	font-size: 1.5vw;
	margin-top: 5vw;
}
.form-laporan{
	margin-top: 10vw;
}
.form-group{
	margin-top: 3vw;
}
.form-laporan label{
	font-size: 1.3vw;
	font-weight: 500;
}
.form-group .form-error{
	font-size: 1.2vw;
}
.form-laporan .tombol{
	display: flex;
	justify-content: center;
}
.form-laporan .btn-primary{
	background-color: #5887a5;
	width: 20vw;
	padding: 1vw 0;
	margin: 10vw 0;
	font-size: 1.5vw;

}

	/* ============== Profile ============== */
	.shadow{
		margin: 10vw;
	}

/* =============== Mobile =============== */
@media (max-width: 429px) {

	/* ============== Login ============== */
	.contener{
		display: flex;
		flex-direction: column;
	}
	.logo{
		width: 30vw;
	}
	.flex-in-blue{
		display: flex;
		justify-content: space-between;
		padding: 1.2vw 2vw 0 2vw;	
	}
	.flex-in-blue .crime{
		font-size: 5.4vw;
		font-weight: 600;
		color: #fdfdfd;
		margin-top: 5vw;
	}
	.kiri{
		background-image: linear-gradient(to bottom right, #5887a5, #242d51);
		width:100vw;
	}
	.polisi{
		display: flex;
		justify-content: center;
	}
	.polisi .police{
		width: 40vw;
		margin-top: 15vw;
		z-index: 2;
	}
	.motif{
		position: absolute;
		width: 100vw;
		margin-top: 15vw;
		z-index: 1;
	}
	.moto{
		margin: 15vw 0;
		color: #fdfdfd;
		font-size: 5vw;
		font-weight: 500;
		text-align: center;
		padding-left: 0;
	}
	.sambutan{
		text-align: center;
	}
	.sambutan .welcome{
		margin-top: 20vw;
		font-size: 6vw;
		font-weight: 600;
	}
	.sambutan .text-kecil{
		font-size: 3.7vw;
		font-weight: 500;
		margin-top: -2.5vw;
	}
	.form-absolute{
		margin-top: 18vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 3;
	}
	.email label, .pw label{
		font-size: 3.9vw;
		font-weight: 500;
		display: block;
		margin-bottom: 5vw;
	}
	.pw{
		margin-top: 6vw;
	}
	.email input[type="text"], .pw input[type="password"], .email select{
		width: 60vw;
		height: 11vw;
		padding:10px;
		border-radius: 4vw;
		border: 2px solid #d3d3d3;
		background-color: #d3d3d3;
	}
	.form-absolute .btn{
		margin: 11vw 0;
		border-radius: 3vw;
		width: 40vw;
		height: 10vw;
		text-transform: uppercase;
		background-color: #5887a5;
	}
	.kanan{
		display: inline-block;
		width: auto;
	}
	.motif-om{
		width: 100vw;
		position: absolute;
		z-index: -1;
	}

	/* ===================== Regis ===================== */
	.email textarea{
		width: 60vw;
		height: 30vw;
		padding:10px;
		border-radius: 4vw;
		border: 2px solid #d3d3d3;
		background-color: #d3d3d3;
	}

	/* =============== Header =================== */
	.lambang {
		width: 30vw;
	}
	.filter-right {
		color: #030303;
		width: 7.5vw;
	}
	.navbar-nav .nav-link {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 4vw;
		color: #030303;
	}
	.nav-item .btn {
		background-color: #030303;
		color: #fdfdfd;
		border-radius: 20px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		display: block;
	}
	.nav-item .btn:hover {
		background-color: #fdfdfd;
		transition: 700ms;
		color: #030303;
		border-radius: 20px;
		display: block;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
	.nav-item{
		margin-top: 4vw;
	}
	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid #5887a5;
		padding-bottom: 7px;
		margin-bottom: -10px;
	}

	/* ============== Main Home =================== */
	
	.jumbotron .display-4 {
		font-size: 4.7vw;
		font-weight: 600;
		line-height: 1.56;
		margin-top: 4.6vw;
	}
	.jumbotron .lead {
		margin-top: 7.6vw;
		font-size: 2.7vw;
		font-weight: 500;
		line-height: 2.2;
	}
	.btn-dark {
		margin-top: 5vw;
		background-color: #030303;
		border-radius: 10px;
		width: 25vw;
		padding: 2.5vw 0;
		font-size: 2.5vw;
		font-weight: 500;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	
	.flex{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container .kapolri{
		width: 35vw;
		border-radius: 10px;
	}
	.container .animated {
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}
	@keyframes up-down {
		0% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(-10px);
		}
	}
	.kiri-profil .display-4{
		font-size: 4.5vw;
		margin-top: 10vw;
	}
	.kiri-profil .sigit{
		font-size: 4vw;
		font-weight: 600;
	}

	/* =============== Footer =============== */
	
	.lambang-footer{
		width: 50vw;
	}
	.footer-flex{
		display: flex;
		flex-direction: column;
	}
	.flex-about .about, .flex-social .social{
		font-size: 5vw;
		font-weight: 600;
		margin-top: 10vw;
	}
	.flex-about .fa-2x, .flex-social .fa-2x{
		font-size: 5vw;
	}
	.flex-about .fa-circle, .flex-social .fa-circle{
		color: #030303;
	}
	.flex-about .narahubung, .flex-social .narahubung{
		display: none;
	}
	.flex-ul{
		display: flex;
	}
	.cr p{
		font-size: 3vw;
		text-align: center;
		margin: 6vw 0;
	}

	/* ============ Footer Blue ============= */
	
	.footer-blue .cr p{
		font-size: 3vw;
		text-align: center;
		margin: 6vw 0 0 0;
	}
	

	/* =============== Lapor ================== */

	.title-lapor h1{
		text-transform:capitalize;
		font-size: 6vw;
		font-weight: 600;
		text-align: center;
		margin-top: 8vw;
	}
	.title-lapor p {
		font-size: 3vw;
		text-align: center;
		font-weight: 500;
		text-transform: capitalize;
		margin-top: 4vw;
	}
	.data-pelapor{
		font-weight: 600;
		text-transform: capitalize;	
		font-size: 4vw;
		margin-top: 10vw;
	}
	.form-laporan{
		margin-top: 10vw;
	}
	.form-group{
		margin-top: 8vw;
	}
	.form-laporan label{
		font-size: 3.9vw;
		font-weight: 500;
	}
	.form-group .form-error{
		font-size: 3.9vw;
	}
	.form-laporan .tombol{
		display: flex;
		justify-content: center;
	}
	.form-laporan .btn-primary{
		background-color: #5887a5;
		width: 30vw;
		margin: 10vw 0;
		padding: 1vw 0;
		font-size: 4vw;
	}

	/* ============== Profile ============== */
	.shadow{
		margin: 10vw 0;
	}
}