@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;		
}

.contener{
	display: flex;
	overflow: hidden;
}

.logo{
	width: 9vw;
}

.flex-in-blue{
	display: flex;
	justify-content: space-between;
	padding: 0.4vw 1.5vw 0 1.5vw;	
}

.flex-in-blue .crime{
	font-size: 1.4vw;
	font-weight: 600;
	color: #fdfdfd;
	margin-top: 2.1vw;
}

.kiri{
	background-image: linear-gradient(to bottom right, #5887a5, #242d51);
	width: 50vw;
	height: 100vh;
}

.polisi{
	display: flex;
	justify-content: center;
}

.polisi .police{
	width: 10vw;
	margin-top: 10vw;
	z-index: 2;
}

.wrapper__polisi{
	margin-top:-5rem;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.motif{
	position: absolute;
	width: 30vw;
	margin-top: 7vw;
	z-index: 1;
}

.moto{
	margin-bottom: 1rem;
	color: #fdfdfd;
	font-size: 1.7vw;
	font-weight: 500;
	text-align: left;
	padding-left: 2vw;
}

.sambutan{
	text-align: center;
}

.kanan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
	height: 100vh;
	background-color: #fdfdfd;
}

.sambutan .welcome{
	font-size: 2vw;
	font-weight: 600;
}

.sambutan .text-kecil{
	font-size: 0.9vw;
	font-weight: 500;
	margin-top: -1.5vw;
}

.form-absolute{
	margin-top: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
}

.email label, .pw label{
	font-size: 1.5vw;
	font-weight: 600;
	display: block;
	margin-bottom: 1vw;
}

.pw{
	margin-top: 1.5vw;
}

.email input[type="text"], .pw input[type="password"], .email select{
	width: 25vw;
	height: 3.3vw;
	padding:1vw 1vw 1vw 2vw;
	border-radius: 10vw;
	border: 2px solid #5887a5;	
	background-color: transparent;
	font-size: 1vw;
}

.email input[type="text"]:focus, .pw input[type="password"]:focus, .email select:focus{
	border: 2px solid #a6bf36;
}

.pesan-logout{
	text-align: center;
}

.form-absolute .btn{
	margin: 4vw 0 0 0;
	border-radius: 10vw;
	width: 25vw;
	height: 3.5vw;
	text-transform: uppercase;
	background-color: #5887a5;
	font-size: 1.5vw;
}

.motif-om{
	width: 50vw;
	position: absolute;
	z-index: -1;
}

/* ================ Regis ================ */

.right__regis{
	width: 50vw;
	background-color: #fdfdfd;
}

.sambutan__regis{
	margin-top: 3vw;
}

.form-absolute__regis{
	margin-top: 2vw;
}

.flex-form{
	display: flex;
	width: 50vw;
	justify-content: space-around;
	

}

.wrapper-form label{
	font-size: 1vw;
	font-weight: 600;
	display: block;
	margin-bottom: 0.7vw;
}

.wrapper-form input[type="text"], .wrapper-form select, .wrapper-form textarea, .wrapper-form input[type="password"]{
	width: 17vw;
	height: 2.5vw;
	padding: 0 1vw 0 1vw;
	border-radius: 10vw;
	border: 2px solid #5887a5;	
	background-color: transparent;
	font-size: 0.7vw;
}

.wrapper-form textarea{
	width: 42vw;
	height: 2.5vw;
}

.wrapper-form input[type="text"]:focus, .wrapper-form select:focus, .wrapper-form textarea:focus, .wrapper-form input[type="password"]:focus{
	border: 2px solid #a6bf36;
}

.form-absolute__regis .btn__regis{
	margin: 2vw 0 0 0;	
	width: 17vw;
	height: 2.5vw;
	font-size: 1.1vw;
}

/* ================ Header ================ */
.lambang {
	width: 14vw;
}
.navbar-nav .nav-link {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.2vw;
	color: #030303;
}
.nav-item .btn {
	background-color: #030303;
	color: #fdfdfd;
	border-radius: 20px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	display: block;
}
.nav-item .btn:hover {
	background-color: #fdfdfd;
	transition: 700ms;
	color: #030303;
	border-radius: 20px;
	display: block;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav-link:hover::after {
	content: "";
	display: block;
	border-bottom: 3px solid #5887a5;
	padding-bottom: 7px;
	margin-bottom: -10px;
}
.nav-item-right{
	margin-right: 3vw;
}

/* ============== Main Home =================== */
body .jumbotron{
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fdfdfd;
	margin-bottom: 0;
}

.jumbotron .display-4 {
	font-size: 3.5vw;
	font-weight: 600;
	line-height: 1.5;
}

.jumbotron .lead {
	margin-top: 4vw;
	font-size: 1.4vw;
	font-weight: 500;
	line-height: 2.2;
}

.container .btn-dark {
	margin-top: 4vw;
	background-color: #030303;
	border-radius: 10px;
	width: 15vw;
	padding: 1vw 0;
	font-size: 1.5vw;
	font-weight: 500;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

body .jumbotron2 {
	background-color: #5887a5;
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-jumbotron{
	display: flex;
	flex-direction:row-reverse;
	justify-content: space-around;
	align-items: center;
}
.container .kapolri{
	width: 25vw;
	border-radius: 10px;
}
.container .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}	
/* =============== Footer =============== */
#footer{
	padding: 3vw 2vw 1vw 2vw;
}

li{
	list-style: none;
}
.lambang-footer{
	width: 20vw;
}
.footer-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-about .about, .flex-social .social{
	font-size: 2vw;
	font-weight: 600;
}
.flex-about .fa-2x, .flex-social .fa-2x{
	font-size: 1.5vw;
}
.flex-about .fa-circle, .flex-social .fa-circle, .footer-flex a{
	color: #030303;
}
.flex-ul li{
	margin-top: 1.5vw;
}
.cr p{
	font-size: 1.2vw;
	text-align: center;
	margin: 2vw 0;
}

/* =========== Footer Blue ============ */
.footer-blue{
	background-color: #5887a5;
	padding: 1vw 0;
}

/* ============= Lapor ================= */
.title-lapor h1{
	text-transform:capitalize;
	font-size: 3.5vw;
	font-weight: 600;
	text-align: center;
	margin-top: 8vw;
}
.title-lapor p {
	font-size: 1.3vw;
	text-align: center;
	font-weight: 500;
	text-transform: capitalize;
	margin-top: 1vw;
}
.data-pelapor{
	font-weight: 600;
	text-transform: capitalize;	
	font-size: 1.5vw;
	margin-top: 5vw;
}
.form-laporan{
	margin-top: 10vw;
}
.form-group{
	margin-top: 3vw;
}
.form-laporan label{
	font-size: 1.3vw;
	font-weight: 500;
}
.form-group .form-error{
	font-size: 1.2vw;
}
.form-laporan .tombol{
	display: flex;
	justify-content: center;
}
.form-laporan .btn-primary{
	background-color: #5887a5;
	width: 20vw;
	padding: 1vw 0;
	margin: 10vw 0;
	font-size: 1.5vw;
	border-radius: 10vw;
}

	/* ============== Profile ============== */
	.profile{
		text-align: center;
		margin-top: 5vw;
	}

	.profile h1{
		font-size: 4vw;
	}

	.wrapper-card__profile{
		margin-top: 5vw;
		display: flex;
		width: 100vw;
		justify-content: center;
	}

	.card-profile{
		width: 40vw;
		margin-bottom: 7vw;
		background-color: #fdfdfd;
		border-radius: 2vw;
		padding: 2vw;
		box-shadow:  21px 21px 42px #d7d7d7,
             -21px -21px 42px #ffffff;
	}

	.image-profile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1vw;
	}

	.image-profile img{
		width: 15vw;
	}

	.image-profile h3{
		font-weight: 600;
		font-size: 2.5vw;
	}

	.image-profile h4{
		font-size: 1.8vw;
	}

	.other-data p{
		font-size: 1.4vw;
		margin-top: 1vw;
	}

	.other-data h5{
		font-size: 2vw;
		font-weight: 500;
	}

	/* ======================= Tampilan Tablet ======================= */

@media (max-width: 992px){

		.contener{
			display: flex;
			flex-direction: column;
		}

		.logo{
			width: 25vw;
		}

		.flex-in-blue{
			display: flex;
			justify-content: space-between;
			padding: 1.2vw 3vw 0 3vw;	
		}

		.flex-in-blue .crime{
			font-size: 4.4vw;
			font-weight: 600;
			color: #fdfdfd;
			margin-top: 5vw;
		}

		.kiri{
			background-image: linear-gradient(to bottom right, #5887a5, #242d51);
			width:100vw;
			height: 100vh;
		}

		.polisi{
			display: flex;
			justify-content: center;
		}

		.polisi .police{
			width: 27vw;
			margin-top: 14vw;
			z-index: 2;
		}

		.wrapper__polisi{
			/* margin:5vh 0 9vh 0; */
			margin-top:-4.5rem;
			width: 100vw;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.motif{
			position: absolute;
			width: 65vw;
			margin-top: 16vw;
			z-index: 1;
			animation: motif 2s ease-in-out infinite alternate-reverse both;
		}

		@keyframes motif {
			0% {
				transform: translateY(10px);
				/* transform: scale(0.5); */
			}
			100% {
				transform: translateY(-10px);
				/* transform: scale(1); */
			}
	}

	.moto{
		margin: 15vw 0;
		color: #fdfdfd;
		font-size: 4.2vw;
		font-weight: 500;
		text-align: center;
		padding-left: 0;
	}

	.sambutan{
		text-align: center;
	}

	.kanan{
		display: flex;
		justify-content: center;
		width: 100vw;
		height: 100vh;
	}

	.sambutan .welcome{
		font-size: 5.2vw;
		font-weight: 600;
	}

	.sambutan .text-kecil{
		font-size: 2.5vw;
		font-weight: 500;
		margin-top: -2.5vw;
	}

	.form-absolute{
		margin-top: 16vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 3;
	}

	.email label, .pw label{
		font-size: 3.1vw;
		font-weight: 600;
		display: block;
		margin-bottom: 3vw;
	}

	.pw{
		margin-top: 6vw;
	}

	.email input[type="text"], .pw input[type="password"], .email select{
		width: 60vw;
		height: 8.5vw;
		padding:1vw 2vw 1vw 4vw;
		border-radius:10vw;
		border: 2px solid #5887a5;
		background-color: transparent;
		font-size: 2.7vw;
	}

	.email input[type="text"]:focus, .pw input[type="password"]:focus, .email select:focus{
		border: 2px solid #a6bf36;
	}

	.form-absolute .btn{
		margin: 11vw 0 0 0;
		border-radius: 10vw;
		width: 60vw;
		height: 8.5vw;
		text-transform: uppercase;
		background-color: #5887a5;
		font-size:3vw;
	}

	.motif-om{
		width: 100vw;
		position: absolute;
		z-index: -1;
	}

	/* ======================= Regis ======================= */
	.right__regis{
		width: 100vw;
		background-color: #fdfdfd;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.form-absolute__regis{
		margin-top: 4vw;
	}

	.flex-form{
		display: flex;
		width:100vw;
		justify-content: space-around;
	}

	.wrapper-form label{
		font-size: 2vw;
		font-weight: 600;
		display: block;
		margin-bottom: 1.7vw;
	}

	.wrapper-form input[type="text"], .wrapper-form select, .wrapper-form textarea, .wrapper-form input[type="password"]{
		width: 35vw;
		height: 5vw;
		padding: 0 2vw 0 1vw;
		border-radius: 10vw;
		border: 2px solid #5887a5;	
		background-color: transparent;
		font-size: 1.5vw;
	}

	.wrapper-form textarea{
		width: 85vw;
		height: 4.5vw;
	}
	
	.form-absolute__regis .btn__regis{
		margin:4vw 0 0 0;	
		width: 35vw;
		height: 5.3vw;
		font-size: 2.3vw;
	}

	/* ======================= Header ======================= */

	.lambang {
		width: 25vw;
	}

	.filter-right {
		color: #030303;
		width: 7vw;
	}

	.navbar-nav .nav-link {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 3vw;
		color: #030303;
	}

	.nav-item .btn {
		background-color: #030303;
		color: #fdfdfd;
		border-radius: 20px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		display: block;
	}

	.nav-item .btn:hover {
		background-color: #fdfdfd;
		transition: 700ms;
		color: #030303;
		border-radius: 20px;
		display: block;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	.nav-item{
		margin-top: 3vw;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid #5887a5;
		padding-bottom: 7px;
		margin-bottom: -10px;
	}
	/* ======================= Main Home ======================= */
	body .jumbotron{
		height: 91vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.jumbotron .display-4 {
		text-align: center;
		font-size: 4.5vw;
		font-weight: 600;
		line-height: 1.9;
	}

	.jumbotron .lead {
		margin-top: 9vw;
		font-size: 2.8vw;
		font-weight: 500;
		line-height: 2;
		text-align: center;
	}

	.wrapper-btn{
		display: flex;
		justify-content: center;
	}

	.container .btn-dark {
		margin-top: 7vw;
		background-color: #030303;
		border-radius: 10vw;
		width: 55vw;
		padding: 1.7vw 0;
		font-size: 3vw;
		font-weight: 500;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}

	body .jumbotron2{
		height: 150vw;
	}

	.flex-jumbotron{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container .kapolri{
		width: 35vw;
		border-radius: 10px;
	}

	.container .animated {
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}
	@keyframes up-down {
		0% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(-10px);
		}
	}

	.kiri-profil .display-4{
		font-size: 4.5vw;
		margin-top: 10vw;
	}

	.kiri-profil .sigit{
		font-size: 4vw;
		font-weight: 600;
		text-align: center;
	}

	/* ======================= footer ======================= */

	#footer{
		padding: 3vw 2vw 1vw 2vw;
	}
	
	.lambang-footer{
		width: 35vw;
	}
	.footer-flex{
		display: flex;
		flex-direction: column;
	}
	.flex-about .about, .flex-social .social{
		font-size: 4vw;
		font-weight: 600;
		margin-top: 5vw;
	}
	.flex-about .fa-2x, .flex-social .fa-2x{
		font-size: 3vw;
	}
	.flex-about .fa-circle, .flex-social .fa-circle{
		color: #030303;
	}
	.flex-about .narahubung, .flex-social .narahubung{
		display: none;
	}
	.flex-ul{
		display: flex;
	}
	.cr p{
		font-size: 2.5vw;
		text-align: center;
		margin: 6vw 0 0 0;
	}

	/* Lapor */
	.form-laporan .btn-primary{
		background-color: #5887a5;
		width: 35vw;
		margin: 10vw 0;
		padding: 1vw 0;
		font-size: 2.5vw;
		border-radius: 10vw;
	}
}

/* =============== Mobile =============== */
@media (max-width: 576px) {

	/* ============== Login ============== */
	.contener{
		display: flex;
		flex-direction: column;
	}

	.logo{
		width: 30vw;
	}

	.flex-in-blue{
		display: flex;
		justify-content: space-between;
		padding: 1.2vw 3vw 0 3vw;	
	}

	.flex-in-blue .crime{
		font-size: 5.4vw;
		font-weight: 600;
		color: #fdfdfd;
		margin-top: 5vw;
	}

	.kiri{
		background-image: linear-gradient(to bottom right, #5887a5, #242d51);
		width:100vw;
		height: 100vh;
	}

	.polisi{
		display: flex;
		justify-content: center;
	}

	.polisi .police{
		width: 35vw;
		margin-top: 15vw;
		z-index: 2;
	}

	.wrapper__polisi{
		margin-top:-4.5rem;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.motif{
		position: absolute;
		width: 70vw;
		margin-top: 20vw;
		z-index: 1;
		animation: motif 2s ease-in-out infinite alternate-reverse both;
	}

	@keyframes motif {
		0% {
			transform: translateY(10px);
			/* transform: scale(0.5); */
		}
		100% {
			transform: translateY(-10px);
			/* transform: scale(1); */
		}
	}

	.moto{
		margin: 15vw 0;
		color: #fdfdfd;
		font-size: 5vw;
		font-weight: 500;
		text-align: center;
		padding-left: 0;
	}
	
	.sambutan{
		text-align: center;
	}
	
	.kanan{
		display: flex;
		justify-content: center;
		width: 100vw;
		height: 100vh;
	}

	.sambutan .welcome{
		font-size: 6vw;
		font-weight: 600;
	}

	.sambutan .text-kecil{
		font-size: 3.7vw;
		font-weight: 500;
		margin-top: -2.5vw;
	}

	.form-absolute{
		margin-top: 18vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 3;
	}

	.email label, .pw label{
		font-size: 3.9vw;
		font-weight: 600;
		display: block;
		margin-bottom: 5vw;
	}

	.pw{
		margin-top: 6vw;
	}

	.email input[type="text"], .pw input[type="password"], .email select{
		width: 60vw;
		height: 10vw;
		padding:1vw 2vw 1vw 4vw;
		border-radius:10vw;
		border: 2px solid #5887a5;
		background-color: transparent;
		font-size: 3.5vw;
	}

	.email input[type="text"]:focus, .pw input[type="password"]:focus, .email select:focus{
		border: 2px solid #a6bf36;
	}

	.form-absolute .btn{
		margin: 11vw 0 0 0;
		border-radius: 10vw;
		width: 60vw;
		height: 10vw;
		text-transform: uppercase;
		background-color: #5887a5;
		font-size: 3.5vw;
	}

	.motif-om{
		width: 100vw;
		position: absolute;
		z-index: -1;
	}

	/* ===================== Regis ===================== */

	.form-absolute__regis{
		margin-top: 4vw;
	}
	
	.wrapper-form label{
		font-size: 3vw;
		font-weight: 600;
		display: block;
		margin-bottom: 1.7vw;
	}

	.wrapper-form input[type="text"], .wrapper-form select, .wrapper-form textarea, .wrapper-form input[type="password"]{
		width: 43vw;
		height: 6.5vw;
		padding: 0 0 0 2vw;
		border-radius: 10vw;
		border: 2px solid #5887a5;	
		background-color: transparent;
		font-size: 2vw;
	}

	.wrapper-form textarea{
		width: 93vw;
		height: 6.5vw;
	}

	.form-absolute__regis .btn__regis{
		margin:5vw 0 0 0;	
		width: 40vw;
		height: 6.7vw;
		font-size: 2.3vw;
	}

	/* =============== Header =================== */
	.lambang {
		width: 30vw;
	}

	.filter-right {
		color: #030303;
		width: 7.5vw;
	}

	.navbar-nav .nav-link {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 4vw;
		color: #030303;
	}

	.nav-item .btn {
		background-color: #030303;
		color: #fdfdfd;
		border-radius: 20px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		display: block;
	}

	.nav-item .btn:hover {
		background-color: #fdfdfd;
		transition: 700ms;
		color: #030303;
		border-radius: 20px;
		display: block;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
	
	.nav-item{
		margin-top: 4vw;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid #5887a5;
		padding-bottom: 7px;
		margin-bottom: -10px;
	}

	/* ============== Main Home =================== */

	body .jumbotron{
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.jumbotron .display-4 {
		text-align: center;
		font-size: 4.9vw;
		font-weight: 600;
		line-height: 1.60;
	}

	.jumbotron .lead {
		margin-top: 9vw;
		font-size: 3vw;
		font-weight: 500;
		line-height: 2.2;
		text-align: center;
	}

	.wrapper-btn{
		display: flex;
		justify-content: center;
	}

	.container .btn-dark {
		margin-top: 7vw;
		background-color: #030303;
		border-radius: 10vw;
		width: 55vw;
		padding: 2vw 0;
		font-size: 3.5vw;
		font-weight: 500;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	
	.flex-jumbotron{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container .kapolri{
		width: 35vw;
		border-radius: 10px;
	}

	.container .animated {
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}
	@keyframes up-down {
		0% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(-10px);
		}
	}

	.kiri-profil .display-4{
		font-size: 4.5vw;
		margin-top: 10vw;
	}

	.kiri-profil .sigit{
		font-size: 4vw;
		font-weight: 600;
		text-align: center;
	}

	/* =============== Footer =============== */
	#footer{
		padding: 3vw 2vw 1vw 2vw;
	}
	
	.lambang-footer{
		width: 45vw;
	}
	.footer-flex{
		display: flex;
		flex-direction: column;
	}
	.flex-about .about, .flex-social .social{
		font-size: 5vw;
		font-weight: 600;
		margin-top: 7vw;
	}
	.flex-about .fa-2x, .flex-social .fa-2x{
		font-size: 5vw;
	}
	.flex-about .fa-circle, .flex-social .fa-circle{
		color: #030303;
	}
	.flex-about .narahubung, .flex-social .narahubung{
		display: none;
	}
	.flex-ul{
		display: flex;
	}
	.cr p{
		font-size: 3vw;
		text-align: center;
		margin: 6vw 0 0 0;
	}

	/* ============ Footer Blue ============= */
	
	.footer-blue .cr p{
		font-size: 3vw;
		text-align: center;
		margin: 6vw 0 0 0;
	}
	

	/* =============== Lapor ================== */

	.title-lapor h1{
		text-transform:capitalize;
		font-size: 6vw;
		font-weight: 600;
		text-align: center;
		margin-top: 8vw;
	}
	.title-lapor p {
		font-size: 3vw;
		text-align: center;
		font-weight: 500;
		text-transform: capitalize;
		margin-top: 4vw;
	}
	.data-pelapor{
		font-weight: 600;
		text-transform: capitalize;	
		font-size: 4vw;
		margin-top: 10vw;
	}
	.form-laporan{
		margin-top: 10vw;
	}
	.form-group{
		margin-top: 8vw;
	}
	.form-laporan label{
		font-size: 3.9vw;
		font-weight: 500;
	}
	.form-group .form-error{
		font-size: 3.9vw;
	}
	.form-laporan .tombol{
		display: flex;
		justify-content: center;
	}
	.form-laporan .btn-primary{
		background-color: #5887a5;
		width: 40vw;
		margin: 10vw 0;
		padding: 1vw 0;
		font-size: 4vw;
		border-radius: 10vw;
	}

	/* ============== Profile ============== */
	.profile{
		margin-top: 10vw;
	}

	.profile h1{
		font-size: 5vw;
	}

	.card-profile{
		width: 60vw;
		margin-bottom: 7vw;
		background-color: #fdfdfd;
		border-radius: 2vw;
		padding: 3vw;
		box-shadow:  21px 21px 42px #d7d7d7,
             -21px -21px 42px #ffffff;
	}

	.image-profile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1vw;
	}

	.image-profile img{
		width: 16vw;
	}

	.other-data p{
		font-size: 2vw;
		margin-top: 1vw;
	}

	.other-data h5{
		font-size: 2.5vw;
		font-weight: 500;
	}
}